body 
{ 
	margin:0; 
	padding:0;
	background-image: url(../imagenes/fondo.jpg);
}
section .calculadora
{
	width: 1000px;
	height: 1000px;
	float: center;
}
input   
{
	padding-bottom:0px; 
	padding-top:20px; 
	vertical-align:middle; 
	width:80px; 
	text-align:right; 
	vertical-align:middle; 
	font-family:arial,courier new;
	font-size:20px;
	font-weight:bold; 
	border:1px solid #666666;
	padding:5px 2px 3px 2px;
	margin:0px 3px 0px 8px; 
	padding:2px; 
	background:transparent; 
	border-radius: 10px 10px 10px 10px;
}
#j
{
	text-align: right;
	width: 480px;
	height: 50px;
	border:1px solid #666666;
	border-radius: 10px 10px 10px 10px;

}
input:hover
{
	color:cyan;
    text-shadow: 0px 0px 15px #fff;

}
#t
{
	margin: 50px;
	border:1px solid #666666;
	width:500px; 
}